.jumbotron {
    margin-bottom: 0 !important;
}

.profile-image {
    max-width: 100%;
    height: auto;
}

.subheading {
    font-style: italic;
    margin-bottom: 0;
}

.card {
    margin: 0 auto;
    width: 20rem;
}

/* Media queries used to change the behavior of the card component and image behavior */

@media (max-width: 1200px) {
    .card {
        width: auto;
        margin-bottom: 2rem;
    }
}

@media (max-width: 768px) {
    #profile-image-container, h1, .subheading {
        text-align: center;
    }
    
    #profile-image {
        max-height: 150px;
        max-width: 150px;
        margin-bottom: 1.75rem;
    }
}