.jumbotron {
    margin-bottom: 0 !important;
}

.profile-image {
    max-width: 100%;
    height: auto;
}

.subheading {
    font-style: italic;
    margin-bottom: 0;
}

.jobs .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
}

.jobs img {
    margin-bottom: 1.5rem;
    height: 140px;
    width: 140px;
}

/* Media queries used to change the behavior of the card component and image behavior */

@media (max-width: 768px) {
    .jumbotron {
        text-align: center;
    }
    
    #profile-image {
        max-height: 150px;
        max-width: 150px;
        margin-bottom: 1.75rem;
    }
}